@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb{
    background: var(--cor-btn);
    border-radius: 5px;
}

:root{
    --cor-letras-txt:#e6e6e6;
    --cor-btn:rgb(0, 153, 255);
    --letras-escura:#969696;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
}

main{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.estrela{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    left: 10%;
    top: 10%;
    animation: acender 5s infinite, mover 15s infinite linear;
    box-shadow: 0 0 5px #fff;
    z-index: -1;
}

.estrela:nth-child(2){
    top: 70%;
    left: 65%;
    animation-delay: 1s;
}

.estrela:nth-child(3){
    top: 25%;
    left: 35%;
    animation-delay: 1.5s;
}

.estrela:nth-child(4){
    top: 20px;
    left: 90%;
    animation-delay: 2s;
}

.estrela:nth-child(5){
    top: 90%;
    left: 25px;
    animation-delay: 2.5s;
}

.estrela:nth-child(6){
    top: 55%;
    left: 40px;
    animation-delay: 3s;
}

.estrela:nth-child(7){
    top: 35%;
    left: 100px;
    animation-delay: 3.5s;
}

.estrela:nth-child(8){
    top: 85%;
    left: 80px;
    animation-delay: 4s;
}

@keyframes acender{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}

@keyframes mover {
    0%{
        transform: translate(0, 0);
    }

    100%{
        transform: translate(100vw, 100vh);
    }
}

.menu {
    position: fixed;
    display: flex;
    top: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 450px;
    height: 50px;
    border-radius: 25px;
    backdrop-filter: blur(6px);
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    overflow: hidden;
}

.menu.fechar{
    left: 55px;
    width: 70px;
    gap: 0;
    justify-content: center;
    padding: 15px;
    align-items: center;
}

.menu.fechar a{
    display: none;
}

.menu a{
    display: block;
    color: var(--cor-letras-txt);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.menu a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--cor-letras-txt);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.4s ease-in-out;
}

.menu a:hover::after{
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background: var(--cor-btn);
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.btn:hover{
    opacity: .7;
}

.apresentacao{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15% 35px 30px;
    height: 100vh;
    position: relative;
    align-items: center;
}

.ft-perfil {
    position: absolute;
    top: -50%;
    right: 0;
    width: 150px;
    z-index: -1;
    filter: drop-shadow(0 0 10px rgba(177, 177, 177, 0.418));
    background-color: transparent;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
}

.card a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--cor-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-letras-txt);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card a span{
    color: var(--cor-letras-txt);
    font-size: 3.5rem;
}

.card a:hover{
    opacity: .9;
    scale: .975;
}

.card h1{
    color: var(--cor-letras-txt);
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
}

.card h1::before{
    content: '';
    width: 70px;
    background: var(--letras-escura);
    height: 5px;
    position: absolute;
    top: -15px;
}

.card p{
    color: var(--letras-escura);
    font-weight: 400;
}

.apresentacao-txt{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.caixa{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid var(--cor-btn);
    padding: 15px;
    position: relative;
}

.caixa h3{
    color: var(--cor-letras-txt);
}

.caixa p{
    color: var(--letras-escura);
}

.caixa a{
    color: var(--cor-letras-txt);
}

.img-linguagens{
    display: flex;
    gap: 15px;
}

.img-linguagens img{
    width: 28px;
    height: auto;
}

.redes-socias{
    display: flex;
    gap: 15px;
}

.redes-socias img{
    transition: 0.3s ease-in-out;
}

.redes-socias img:hover{
    transform: translateY(-4px);
    opacity: .9;
}

.projetos{
    width: 100%;
    padding: 150px 30px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.projetos h1{
    color: var(--cor-letras-txt);
}

.cont-card-projeto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 50px 0;
}

.card-projeto{
    width: 300px;
    display: flex;
    flex-direction: column;
    background: var(--cor-btn);
    align-items: start;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 140, 255);
    transition: 0.3s ease-in-out;
}

.card-projeto:hover{
    transform: translateY(-5px);
}

.cont-nome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.cont-nome h3{
    color: var(--cor-letras-txt);
}

.cont-nome p{
    color: var(--cor-letras-txt);
}

.cont-card-projeto a{
    text-decoration: none;
}

.descricao-projeto{
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

.descricao-projeto::-webkit-scrollbar-thumb{
    background: var(--cor-letras-txt);
}

.descricao-projeto::-webkit-scrollbar-track {
    border-radius: 6px;
}

.descricao-projeto::-webkit-scrollbar{
    border-radius: 6px;
}

.wallpaper-projeto{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wallpaper-projeto img{
    width: 100%;
    height: 100%;
}

@media (max-width:768px){
    .menu{
        width: 90%;
        overflow: hidden;
    }
    
    .apresentacao{
        flex-direction: column;
        height: auto;
        gap: 50px;
        justify-content: center;
        padding: 150px 15px 15px;
    }
}